@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  /* Fonts */
  --ff-fraunces: 'Fraunces', serif;
  --ff-montserrat: 'Montserrat', sans-serif;

 /* Font Weight */
  --fw-500: 500;
  --fw-700: 700;

  /* Font Size */
  --fs-300: .7rem;
  --fs-400: 0.875rem;
  --fs-600: 1.9rem;

  /* Colors */
  --bg-color: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(157, 46%, 17%);
  --dark-blue: hsl(212, 21%, 14%);
  --bluish-gray: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Margins */
  --mg-top-400: .8rem;
  --mg-top-500: .9rem;
  --mg-top-700: 1.2rem;

  /* Utility classes */

   .title {
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
    color: var(--dark-blue);
    line-height: 1;
  }

  .text {
    font-family: var(--ff-montserrat);
    color: var(--bluish-gray);
  }

  .fs-300 {
    font-size: var(--fs-300);
  }

  .fs-400 {
    font-size: var(--fs-400);
  }

  .fs-600 {
    font-size: var(--fs-600);
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-center {
    align-items: center;
  }

  .mg-top-400 {
    margin-top: var(--mg-top-400);
  }

  .mg-top-500 {
    margin-top: var(--mg-top-500);
  }

  .mg-top-700 {
    margin-top: var(--mg-top-700);
  }

}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.product-card {
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.img {
  width: 100%;
  height: 15rem;
  background: url('images/image-product-mobile.jpg') no-repeat center;
  background-size: cover;
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
}

.content {
  background-color: var(--white);
  padding: 1.6rem;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.category {
  letter-spacing: .4em;
}

.description {
  line-height: 150%;
}

.new-price {
  font-family: var(--ff-fraunces);
  color: var(--dark-cyan);
}

.old-price {
  margin-left: 1.3em;
}

.add {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-700);
  color: var(--white);
  background-color: var(--dark-cyan);
  padding-block: .7rem;
  border: none;
  border-radius: .6em;
  cursor: pointer;
  transition: background 200ms;
}

.add:hover,
.add:focus-visible {
   background-color: var(--darker-cyan) !important; 
}

.add::before {
  content: url('images/icon-cart.svg');
  margin-right: .6em;
}

footer {
  font-size: .9rem;
  font-family: serif;
  margin-top: 1em;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .product-card {
    max-width: 550px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .img {
    background: url('images/image-product-desktop.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: .6rem;
  }

  .content {
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    border-bottom-left-radius: 0;
  }

}

